[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
tensorflow = "*"
datasets = "*"
torchvision = "*"
opencv-python = "*"
mediapipe = "*"
numpy = "*"
torch = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
