[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "*"
pymongo = "*"
tomli = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
pytest-flask = "*"
typing_extensions = "*"
tomli = "*"
coverage = "*"

[requires]
python_version = "3.13"
