<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ASL Trainer{% endblock %}</title>

    <!-- GLOBAL CSS HERE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav>
        <h1>ASL Trainer</h1>
        <a href="dashboard.html">Home</a>
        <a href="login.html">Login</a>
        <a href="register.html">Sign Up</a>
        <a href="lessons.html">Lessons</a>
    </nav>

    <main>
        {% block content %}
        <!-- Child page content will be inserted here -->
        {% endblock %}
    </main>

</body>
</html>
