<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ASL Trainer{% endblock %}</title>

    <!-- GLOBAL CSS HERE -->
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <nav>
        <h1>ASL Trainer</h1>
        <a href="dashboard.html">Home</a>
        <a href="login.html">Login</a>
        <a href="register.html">Sign Up</a>
        <a href="lessons.html">Lessons</a>
    </nav>

    <main>
       {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

</body>
</html>
